
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Next_Level;
    src: url(../fonts/Mario-Kart-DS.ttf);
}

body{
background-color:rgb(31, 31, 31);

}

